.divSearch {
    display: flex;
    background-color: #292929;
    width: 200px;
    border-radius: 5px;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    
}
.divSearch > input {
    background-color: #292929;
    border: none;
    outline: none;
    color: #7f7f7f;
}